*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 85%;
}

.d-flex{
    display: flex;
}

.f-left{
    float: left;
}
.f-right{
    float: right;
}

.mt-5{
    margin-top: 5px;
}
.mb-5{
    margin-bottom: 5px;
}
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}
.m-auto{
    margin: 0 auto;
}

.pt-5{
    padding-top: 5px;
}
.pb-5{
    padding-bottom: 5px;
}
.pl-5{
    padding-left: 5px;
}
.pr-5{
    padding-right: 5px;
}

/* Header Section Start */
.header-section{
    padding: 10px 0;
    background-color: #fd7e14;
    height: 40px;
}
.h-email{
    padding-right: 30px;
}
.heder-icon span{
    padding: 40px 10px;
}

.menu-section{
    background-color: #e9ecef;
}

.logo{
    width: 20%;
}
.logo img{
    width: 100%;
    height: 100px;
}
.menu{
    width: 100%; 
}
.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 40px 87px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(116, 116, 116);
}


.slider-section{
    /* background: #9ffadf; */
    height: 400px;
}

.slider{
    width: 100%;
    height: 400px;
    background-image: url('../images/slider-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: slider;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes slider {
    0%{
        background-image: url('../images/slider-1.jpg');
    }
    50%{
        background-image: url('../images/slider-2.jpg');
    }
    100%{
        background-image: url('../images/slider-3.jpg');
    }
}

.content-section{
    /* height: 400px; */
    background: rgb(252, 249, 249);
    padding-bottom: 30px;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
}

.service-item{
    position: relative;
    overflow: hidden;
}

.service-item .overlay{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s ease-in-out;
}

.service-item .overlay-content{
    content: '';
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(20%, 40%);
    transition: 0.8s ease-in-out;
}
.service-item:hover .overlay-content,
.service-item:hover .overlay{
    opacity: 1;
}
.service-item .overlay-content h1{
    color: white;    
}
.service-item .overlay-content p{
    color: white;
    padding-top: 20px;    
}

.title {
    text-align: center;
    color: #464545;
    padding: 42px 0 23px 0;
    font-size: 42px;
    font-weight: bold;
}

.service-item img{
    width: 100%;
}

.footer-top-section {
    padding: 10px 0 20px 0;
    background: #484a4b;
}
.footer-top-item{
    width: 25%;
    height: 200px;
}

.footer-top-item h1 {
    color: white;
    font-size: 28px;
    padding: 21px 0;
    font-weight: bold;
}

.footer-top-item p {
    color: white;
    line-height: 25px;
    font-size: 16x;
}

.footer-top-item .about-details {
    color: white;
    line-height: 25px;
    font-size: 16x;
    width: 80%;
    text-align: justify;
}

.footer-top-item ul li {
    list-style: none;
    padding: 5px 0;
}

.footer-top-item ul li a{
    color: white; 
    text-decoration: none; 
}

footer{
    background: #212529;
}

footer p{
    padding: 20px 0;
    text-align: center;
    color: white;
}
footer a{
    margin-left: 5px;
    color: red;

}


